body{
  background-color: #f2f2f2;
  color: #2e3338;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: auto;
  margin-bottom: 200px;

  /* font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .02em; */
  /* line-height: 1.75;
  padding: 1rem 5px; */
}
/* body {
  width: 800px;
  margin: auto;
} */
.ver_flex_header {
  text-align: center;
  margin:0;
}

.index-header {
  font: "Helvetica", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.top_nav {
  /* display: flex; */
  align-self: flex-end;
  margin-right: 150px;
}

#content li {
  list-style-type: none;
}
/* 
ul {
  text-align: center;
  padding-left: 0;
}

.main_content ul{
  padding: 20px;
} */


.content {
  display: flex;
  justify-content: space-around;
  margin:10px;
  width: 100%;
}

.main_post{
  width: 70%;
}

.left_nav ul{
  margin: 0;
  padding: 0;
  /* margin: 0; */
}

.left_nav {
  /* align-self: center; */
  /* background-color: #f1f1f1; */
  margin: 5px;
}

.right_nav ul{
  margin: 0;
  padding: 0;
}

.right_nav {
  /* align-self: flex-end; */
  /* background-color: #f1f1f1; */
  margin: 5px;
}

#right_nav li{
  text-align: center;
}



.article-block{
  text-align: left;
  /* background: cornsilk; */
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 10px;
}
.article-time{
  text-align: right;
  color: #605E5D;
  font-weight: 100;
  font: "Helvetica", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
}

.article-block-div {
  /* width: 2px; */
  border-style: solid;
  color: gray;
}



.post_content {
  width: 80%;
  padding: auto;
  margin-bottom: 20px;
}

.link_tags {
  text-align: center;
  font-weight: 250;
  font-style: italic;
}

.post_date {
  font-weight: 200;
  font: "Helvetica", sans-serif;
  font-size: 0.9rem;
  font-style: italic;
}